<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Omakeyd</vendor>
  <vendor_url>https://github.com/olivoil/omakeyd</vendor_url>

  <action id="io.github.olivoil.omakeyd.apply">
    <description>Switch an Omakeyd-managed keyd letter layout</description>
    <message>Authentication is required to switch this keyd layout</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/omakeyd-helper</annotate>
  </action>
</policyconfig>
